.index{
	width:800px;
	heigh:800px;
	border-Style:groove;
}
.headerpart{
	width:800px;
	heigh:125px;
	border-Style:groove;
	background-color:rgb(12,100,198);
background-image:url("images/header.jpg");
}
